/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}